.button-b button{
    padding: 0.75rem;
      font-size: 1rem;
      background-color: #bed3a9;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
  }
  h1{
   
    color: #c6cebe;
  }